<!DOCTYPE html>
<html>
 <head>
   <meta charset="UTF-8">
   <title>language.playdate</title>
 </head>

 <body>
   <h1>Organize Meetup</h1>
     <form method="POST" action="/final_meetup">
     <p>Language: <input type="text" name="Language"></p>
     <p>Address: <input type="text" name="Address"></p>
     <input type="Submit">
   </form>
 </body>
 
</html>